<div class="col-xs-12">
  <h1>Todo List</h1>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
        </span>
        <!-- TODO: Bind the input to our todo list -->
        <input type="text" class="form-control" placeholder="Search for...">
      </div>
    </div>
  </div>
  <!-- TODO: Repeat over our todo list items and setup filtering by search term. Easy peasy -->
  <div>
    <div class="panel panel-default" ng-repeat="todo in todos">
      <div class="panel-body">
        <div class="col-xs-1"><input type="checkbox" ng-model="todo.isCompleted" ng-change="updateTaskStatus(todo)"></div>
        <div class="col-xs-7 task">{{todo.task}}</div>
        <div class="col-xs-2 date">{{todo.dueDate}}</div>
        <div class="col-xs-1 assigned-to">{{todo.assignedTo}}</div>
        <div class="col-xs-1 delete"><button class="btn btn-danger" ng-click="deleteTask(todo.id)">X</button></div>
      </div>
    </div>
  </div>
</div>
