<div class="col-xs-12">
  <h1>New Todo</h1>
  <div class="form-group">
    <label>Task Description</label>
    <!-- TODO: Hook up this form to our JS for submitting -->
    <input type="text" class="form-control" placeholder="Some important task" />
  </div>
  <div class="form-group">
    <label>Due Date</label>
    <input type="text" class="form-control" placeholder="12/12/17" />
  </div>
  <div class="form-group">
    <label>Assigned To</label>
    <input type="text" class="form-control" placeholder="cohort 20" />
  </div>
  <div class="form-group">
    <label>Location</label>
    <input type="text" class="form-control" placeholder="attic" />
  </div>
  <div class="form-group">
    <label>Urgency</label>
    <input type="text" class="form-control" placeholder="low" />
  </div>
  <div class="form-group">
    <label>Dependencies</label>
    <input type="text" class="form-control" placeholder="brush chipper, monkey chow, the one ring" />
  </div>
  <!-- TODO: bind this button to a function -->
  <button class="btn btn-default">Submit</button>
</div>
