<!DOCTYPE html>
<html>
<head>
    <title>Todo App</title>
     <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="lib/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body ng-app="TodoApp">

  <!-- Implemented by Joe since Thursday's class:
  -Fixed problem with tasks not loading after logging in
  -Moved 'new item' and 'all item' links to navbar
  -Those links now hide when use not logged in
  -login / logout links show/hide based on user state
  -Search and delete in ui now have icons
  -Implemented filter functionality in search input (warning: brain melting ahead)
  -Item detail page loads when you click a todo task's name
  -Display the task in a form so the user can edit a task
  -Save the edited task to FB and reload the todo list after it's updated -->


  <!-- Remember to put the path in single quotes when using ng-include -->
  <!-- <div ng-include="'partials/navbar.html'"></div> -->

  <div ng-controller="gardenCtrl">
    <h3>Here is where you can make a new garden</h3>
    <canvas id="graphCanvas" ondrop="angular.element(this).scope().drop(event)" ondragover="angular.element(this).scope().allowDrop(event)" height=300 width=300 style="border:1px solid #000000;"></canvas>

    <img id="img1" src="http://static.tumblr.com/vcbmwcj/foumiteqs/arrow_up_alt1.svg" draggable="true" ng-mousedown="getPos($event)" ondragstart="angular.element(this).scope().drag(event)"/>

    <button ng-click="saveGarden()">Save Garden</button>

    <h3>Here is where you can print your saved garden</h3>
    <canvas id="graphCanvas2" ondrop="angular.element(this).scope().drop(event)" ondragover="angular.element(this).scope().allowDrop(event)" height=300 width=300 style="border:1px solid #000000;">
    </canvas>
    <button ng-click="getGarden()">Get My Saved Garden</button>

  </div>
<!--
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 main-container">
      <div ng-view></div>
    </div>
  </div> -->

  <!-- third-party scripts -->
  <script type="text/javascript" src="lib/node_modules/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="lib/node_modules/bootstrap/dist/js/bootstrap.min.js">
  </script>
  <script type="text/javascript" src="lib/node_modules/angular/angular.min.js"></script>
  <script type="text/javascript" src="lib/node_modules/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="lib/node_modules/firebase/firebase.js"></script>
  <!-- app files -->
  <script type="text/javascript" src="app/app.js"></script>
  <!-- providers -->
  <script src="app/values/fb-creds.js"></script>
  <script src="app/factories/user-factory.js"></script>
  <script src="app/factories/todo-factory.js"></script>
  <script src="app/factories/filter-factory.js"></script>
  <!-- controllers -->
  <script src="app/controllers/user-controller.js"></script>
  <script src="app/controllers/todo-controller.js"></script>
  <script src="app/controllers/todo-add-controller.js"></script>
  <script src="app/controllers/nav-controller.js"></script>
  <script src="app/controllers/todo-detail-controller.js"></script>
  <script src="app/controllers/todo-edit-controller.js"></script>
</body>
</html>
